body{
  background-image: url(https://cdn.discordapp.com/attachments/1118287239307350016/1133080454338183199/c9146aab9e7636c479a200368c63b7ee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

